html {
    background-color: white;
}

body {
    background-color: #ffffeb;
    width: 900px;
    margin: auto;
}

.nav-link.active {
    text-decoration: none;
    color: black;
    background-color: #A3ECFF;
}

a {
    font-style: italic;
    font-weight: bold;
}