<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}{% endblock %} - Diary</title>
</head>

<body>
    <nav>
      <a class="nav-link{% if request.endpoint== 'home.preview' %} active{% endif %}" href="{{ url_for('home.preview') }}">Preview</a>
      <a class="nav-link{% if request.endpoint == 'home.title' %} active{% endif %}" href="{{ url_for('home.title') }}">Title</a>
      <a class="nav-link{% if request.blueprint == 'diary' %} active{% endif %}" href="{{ url_for('diary.new') }}">New</a>
      <a class="nav-link{% if request.blueprint == 'tags' %} active{% endif %}" href="{{ url_for('tags.index') }}">Tags</a>
      <a class="nav-link{% if request.blueprint == 'search' %} active{% endif %}" href="{{ url_for('search.index') }}">Search</a>
    </nav>
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
